div {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.translated {
  transform: perspective(10px) translateZ(-10px);
}

.scaled {
  margin-left: 200px;
  transform: perspective(101px) rotateY(0deg) scale(5);
}
