.container {
  height: 500px;
  width: 500px;
  background-color: green;
  border: 1px solid red;
  display: flex;
}

.box {
  background-color: aqua;
  border: 2px solid orange;
  height: 150px;
  width: 150px;
  margin: 20px;

  /* transition: 1s;
  transition-delay: 3s;
  transition-duration: 1s; */

  /*Transition short hand*/
  /* transition: all 15s ease 2s; */
  transition: transform 3s ease-out;

  /*Ease function can be rep[lace by bezier curve*/
}

.box:hover {
  /* background-color: blueviolet;
  transform: rotate(45deg); */

  transform: translateX(500px);
}
